body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 22px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
}
.jumbotron {
    background: url(http://i89.beon.ru/44/11/2321144/30/design/bodybg.jpeg)100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
    background-position:center 80px;

    background-color: #00796B;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #d6dfd6;
}
.logo-small {
    color: #009688;
    font-size: 50px;
}
.logo {
    color: #00796B;
    font-size: 200px;
    width: 90%;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #00796B;
}

.carousel-indicators li {
    border-color: #00796B;
}

.carousel-indicators li.active {
    background-color: #00796B;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #00796B;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color: #00796B !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    height: 100px;
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.headbtn {
    margin: 15px 0;
    background-color: #fff;
    color: #00796B;
    border-radius: 50px;
    border: 1px solid #fff;
}

.pulse{animation-iteration-count: infinite;}

.fadeOutUp{animation-iteration-count: infinite;}

.headbtn:hover {
    border: 1px solid #fff;
    background-color: #00796B !important;
    color: #fff;
}

.btn, .btn_contacts, .bu {
    margin: 15px 0;
    background-color: #00796B;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #00796B;
}

#otpravka_tel {
    margin-top: 10px;
}

.btn:hover, .btn_contacts:hover {
    border: 1px solid #00796B;
    background-color: #fff !important;
    color: #00796B;
}


.navbar {
    margin-bottom: 0;
    background-color: #212121;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    text-transform: uppercase;
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00796B !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00796B;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

#welcome_text {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

.about_header {
    text-transform: uppercase;
    font-family: 'Gnuolane Free', sans-serif;
    font-size: 44px;
}

.text {
    font-size: 20px;
}

.red {
    color: #00796B;
}

.services_header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.mini_text {
    color: #aaa;
    font-size: 14px;
}

.form_center {
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    margin-left: 128px;
}

.fancybox-skin{
    background-color: #d6dfd6 !important;
}

.fancybox-inner {
    width: auto !important;
    height: auto !important;
}

#hidden form {
    height: 480px;
    width: auto;
}

#hidden, #hidden_write {
    display: none;
}

#hidden label, #hidden_write label{
    width: 100%;
    display: block;
    padding: 3px;
}

#name:focus {
    outline: none;
    border: 1px solid #00796B;
}

#number:focus {
    outline: none;
    border: 1px solid #00796B;
}

#comments:focus {
    outline: none;
    border: 1px solid #00796B;
}

#email:focus {
    outline: none;
    border: 1px solid #00796B;
}

#hidden input, #hidden_write input {
    width: 100%;
    display: block;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.hidden_text {
    text-align: center;
    font-family: 'Gnuolane Free', sans-serif;
    font-size: 35px;
}

.hidden_under_text {
    color: #818181;
    text-align: center;
}

.welcome_under {
    color: #fff;
    text-align: center;
    font-size: 16px !important;
}

#hidden_write  {
    display: none;
}

#hidden_write form {
    height: 361px;
    line-height: 0.8 !important;
}

#hidden_write button {
    margin-top: 10px;
    margin-left: 65px;
}

.sl_img {
    width:130px !important;
    height:130px !important;
}

.slider_cer {
    max-width: 850px;
    margin: 20px auto;
}

.img_part {
    padding: 0;
    margin: 20px auto;
    width: 80%;
}

.footr {
    padding-top: 50px;
}


@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 70px;
    width: 200px;
    border: 1px solid black;
    background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}








